<div class="g-sub-title">
  <%= page.tag %>
</div>

<div class="tag-main">
  <% if(is_tag()) { %>
    <%
      var relate_posts = [];
      for(const post of (site.posts.toArray() || [])) {
        var tags = post.tags || [];
        if (tags.some(function(tag){
          return tag.name === page.tag
        })) {
          relate_posts.push(post)
        }
      }
    %>
    <div class="tag-detail">
      <%- partial('_partial/post/post-list', {
        posts: relate_posts
      }) %>
    </div>
  <% } else { site.tags.each(function(tag){ if(tag.length){ %>
    <div class="tag-list">
      <h3 class="archive-separator" id="tag-<%=tag.name %>">
        <%=tag.name %>
      </h3>
      <div class="waterfall">
        <% tag.posts.each(function(post){ %>
          <%= post.title %>
        <% }) %>
      </div>
    </div>
  <% } }) } %>
</div>