<div class="container body-wrap fade">
  <% if(is_tag()) { %>
    <div class="waterfall">
      <% page.posts.each(function(post){ %>
        <h3 class="post-title" itemprop="name">
          <a class="post-title-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
          
        </h3>
        <span style="font-size: 12px;"><%= post.path %></span>
      <% }) %>
    </div>

  <% } else { site.tags.each(function(tag){ if(tag.length){ %>

    <h3 class="archive-separator" id="tag-<%=tag.name %>">
      <%=tag.name %>
    </h3>

    <div class="waterfall">
      <% tag.posts.each(function(post){ %>
        <%= post.title %>
          <% }) %>
    </div>
  <% } }) } %>
</div>